*{
    background-color: rgb(31, 34, 46);
    color: #fff;
}
.slogan{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img{
        width: 400px;
    }
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 300px;
    }
    p{
        width: 600px;
        text-align: center;
    }
}
.people{
    display: flex;
    margin: 30px 0;
    section{
        flex-basis: 30%;
        text-align: center;
        margin: 0 50px;
    }
    img {
        width: 70px;
        height: auto;
        border-radius: 50%;
    }
}

.container{
    background-color: aqua;
    width: 400px;
    justify-content: center;
    justify-self: center;
    input{
        width: 400px;
        height: 40px;
        border: none;
        outline: none;
        padding-left: 20px;
        font-weight: 500;
        border-radius: 50px;
        background-color: #e7f3f2;
        margin: 5px 0;
        &:focus{
            border: 2px solid #0D8187;
        }
    }
}