

.container {
    display: flex;
    align-items: flex-start;
}
.un{
    .img_background{
        height: 40%;
        margin-left:50%;
        margin-right: 0;
    }
    .mot_bleu{
        color:blue;
    }
    .text{
        flex:1;
    }

}

.clients{
    display: flex;
    justify-content: center;

    
}
p{
    color: white;
}
footer{
    display: flex;
    .clients_name{
        font-weight: bold;
    }
    .img_clients{
        border-radius: 50%;
        display: flex;
        height: 50%;
    }
}
